.pl-modal-open {
  overflow: hidden;
  touch-action: none;
}

.pl-modal {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -webkit-transform: translate3d(0, 0, 0);
}

.pl-modal .pl-modal-table .pl-modal-cell .pl-modal-content {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  max-width: 520px;
  background-color: #fff;
}

.pl-modal .pl-modal-table .pl-modal-cell {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 50px;
}

.pl-modal .pl-modal-table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.pl-modal-cell {
  position: relative;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-ms-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: opacity,transform,-webkit-transform;
  -ms-transition-property: opacity,-webkit-transform;
  -moz-transition-property: opacity,-webkit-transform;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  -ms-transition-property: opacity,-moz-transform;
  -moz-transition-property: opacity,-moz-transform;
  -webkit-transition-property: opacity,-moz-transform;
  transition-property: opacity,-moz-transform;
  -ms-transition-property: opacity,transform;
  -moz-transition-property: opacity,transform;
  -webkit-transition-property: opacity,transform;
  transition-property: opacity,transform;
}

.pl-modal-cell.is-entering>.pl-modal-content {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transform: translateY(50px) scale(.95);
  -ms-transform: translateY(50px) scale(.95);
  -moz-transform: translateY(50px) scale(.95);
  -webkit-transform: translateY(50px) scale(.95);
  transform: translateY(50px) scale(.95);
}

.pl-modal-cell.is-active.is-entering>.pl-modal-content {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  -webkit-transform: translateY(0) scale(1);
  -webkit-transition-timing-function: cubic-bezier(.15,1.45,.55,1);
  -webkit-transition-duration: .4s;
  -ms-transform: translateY(0) scale(1);
  -moz-transform: translateY(0) scale(1);
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  -ms-transition-duration: .4s;
  -moz-transition-duration: .4s;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -ms-transition-timing-function: cubic-bezier(.15,1.45,.55,1);
  -moz-transition-timing-function: cubic-bezier(.15,1.45,.55,1);
  -webkit-transition-timing-function: cubic-bezier(.15,1.45,.55,1);
  transition-timing-function: cubic-bezier(.15,1.45,.55,1);
}

.pl-modal-cell.is-leaving.is-closed>.pl-modal-content {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transform: translateY(50px) scale(.95);
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: .2s;
  -ms-transform: translateY(50px) scale(.95);
  -moz-transform: translateY(50px) scale(.95);
  -webkit-transform: translateY(50px) scale(.95);
  transform: translateY(50px) scale(.95);
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.pl-modal-cell.is-leaving.is-submitted>.pl-modal-content {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transform: translateY(-300px) translateZ(-70px) rotateX(10deg);
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-ms-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: opacity,transform,-webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(.5,-.33,1,1);
  -webkit-transition-duration: .2s;
  -ms-transform: translateY(-300px) translateZ(-70px) rotateX(10deg);
  -moz-transform: translateY(-300px) translateZ(-70px) rotateX(10deg);
  -webkit-transform: translateY(-300px) translateZ(-70px) rotateX(10deg);
  transform: translateY(-300px) translateZ(-70px) rotateX(10deg);
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -ms-transition-property: opacity,-webkit-transform;
  -moz-transition-property: opacity,-webkit-transform;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  -ms-transition-property: opacity,-moz-transform;
  -moz-transition-property: opacity,-moz-transform;
  -webkit-transition-property: opacity,-moz-transform;
  transition-property: opacity,-moz-transform;
  -ms-transition-property: opacity,transform;
  -moz-transition-property: opacity,transform;
  -webkit-transition-property: opacity,transform;
  transition-property: opacity,transform;
  -ms-transition-timing-function: cubic-bezier(.5,-.33,1,1);
  -moz-transition-timing-function: cubic-bezier(.5,-.33,1,1);
  -webkit-transition-timing-function: cubic-bezier(.5,-.33,1,1);
  transition-timing-function: cubic-bezier(.5,-.33,1,1);
}

.pl-modal {
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.pl-modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  touch-action: none;
}

.pl-modal-bg {
  background: rgba(0, 0, 0, .6);
  z-index: 1;
}

.pl-modal-bg.is-entering {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: ease;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -ms-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.pl-modal-bg.is-active.is-entering {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
}

.pl-modal-bg.is-leaving {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition-delay: .2s;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.pl-modal-bg.is-active.is-leaving {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}

.pl-modal-content {
  border-radius: 6px;
  background-color: #f5f5f7;
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, .5),inset 0 1px 0 0 hsla(0,0%,100%,.65);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.loading-spinner {
  z-index: 5;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #333;
}

th.label {
  white-space: no-wrap;
}

td.info a {
  color: #999;
}

td.info a:hover {
  color: #000;
}

td.info a.active {
  color: green;
}

.no-wrap {
  white-space: nowrap;
}

.bt td,
.bt th {
  border-top-width: 3px;
}

.wb {
  word-break: break-all;
}

.ellipsis {
  position: absolute;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.unlockable {
  cursor: pointer;
}

.account-lock {
  color: #6c757d;
}

.account-lock.unlockable:hover {
  color: #28a745;
}

.mono {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.circ {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #2e8af7;
  display: inline-block;
  vertical-align: 1px;
  margin: 0 8px 0 1px;
}

.row-fa.fa-lock {
  margin: 0 9px 0 2px;
}

.row-fa.fa-unlock {
  margin: 0 6px 0 0px;
}

.fa-unlock {
  color: green;
}

.wallet-unlocked {
  color: green;
}

table.table thead tr th {
  border-top: 0;
}

table.table .btn-sm {
  padding: 0.125rem 0.375rem;
}

.navbar {
  border-bottom: 1px solid #E5E9EF;
}

.navbar-light .navbar-text .dropdown-item.active,
.navbar-light .navbar-text .dropdown-item:active {
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}

.footer {
  display: flex;
  align-items: center;
  color: #999;
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid #eee;
  font-size: 14px;
}

.footer a {
  color: #999;
}

.footer .middle {
  text-align: center;
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.footer .right {
  text-align: right;
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.footer .powered-by img {
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  height: 12px;
  margin-top: -2px;
  margin-right: 0.25rem;
}

.footer .powered-by {
  font-size: 14px;
  letter-spacing: -0.01rem;
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
